<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirige tout sauf les fichiers et dossiers existants vers index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>