.section {
	background-color: white;
	display: flex;
	flex-direction: column;
	box-shadow: 0 -3 5 0;
	width: 20vw;
	border-radius: 30px;
}

.h2 {
	font-size: 1.25rem;
	font-weight: 600;
	padding: 1rem;
	color: black;
}

.article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	width: 150px;
	border-radius: 50%;

}

.p {
	padding: 0.3rem;
	color: black;
}